<h1> Creating New Book</h1>
<br>
<form  action="/books" method="POST">
   <%- include('_form_fields') %>
   <br><br>
   <a href="/books"> Cancel </a>&nbsp;&nbsp;&nbsp;
   <button type="submit" name="submit">Create</button>
</form>















