<h1> Edit Author</h1>
<br>
<form  action="/authors/<%= author.id %>?_method=PUT" method="POST">
   <%- include('_form_fields') %>
   <br><br>
   <a href="/authors/<%= author.id %>"> Cancel </a>&nbsp;&nbsp;&nbsp;
   <button type="submit" name="submit">Update</button>
</form>















