<h1 class="page-header"> Edit Author</h1>
<br>
<form  action="/authors/<%= author.id %>?_method=PUT" method="POST">
   <%- include('_form_fields') %>
   <br><br>
   <div class="form-row form-row-end btn-row">
      <a class="btn btn-danger" href="/authors/<%= author.id %>"> Cancel </a>&nbsp;&nbsp;&nbsp;
      <button class="btn btn-primary" type="submit" name="submit">Update</button>
   </div>
</form>















