<h1> Creating new author</h1>
<br>
<form  action="/authors" method="POST">
   <%- include('_form_fields') %>
   <br><br>
   <a href="/authors"> Cancel </a>&nbsp;&nbsp;&nbsp;
   <button type="submit" name="submit">Create</button>
</form>















